<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.atguigu.spzx.manager.mapper.SysUserMapper">

    <sql id = "columns">
        id,username userName ,password,name,
        phone,avatar,description,status,create_time,
        update_time,is_deleted
    </sql>

    <select id="selectByUserName"
            resultType="com.atguigu.spzx.model.entity.system.SysUser">
        select <include refid="columns" /> from sys_user
        where username = #{username} and is_deleted = 0
    </select>

</mapper>